.app-container {
	display: flex;
	justify-content: space-between;
	width: 100%;
	height: 99vh;
	min-height: 600px;
}

.navbar {
	width: 12.5%;
	height: 100%;
}

.body {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	width: 75%;
    min-width: 640px;
    height: 80%;
}

.body-top {
	display: flex;
	height: 600px;
}

.body-bottom {
	display: flex;
	justify-content: center;
	align-items: flex-end;
	height: 150px;
	padding-bottom: 20px;
	border-radius: 20px;
	background: linear-gradient(#FFFFFF, #DAE2F8);
}

.body-bottom > input {
	border-radius: 10px;
	height: 60px;
	width: 60%;
	font-size: 18px;
	outline: none;
	padding: 0 10px;
}

.body-top > .content-part {
	width: 50%;
}

.body-top > .img-part {
	width: 50%;
}

.content-part > .social-content {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 50%;
}

.social-content > img {
	margin-left: -18px;
}

.content-part > .badge-content {
    display: flex;
    flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 50%;
}

.badge-content > .badge-itself {
	width: 380px;
	height: 200px;
	border: 1px solid red;
}

.badge-itself > .name-part {
	display: flex;
    height: 50px;
}

.name-part > .user-img {
	height: 50px;
	width: 50px;
}

.user-img > img {
	padding: 3px;
	width: 44px;
	height: 44px;
}

.name-part > .user-name {
	display: flex;
	align-items: center;
	padding: 0 30px;
	height: 100%;
	width: 330px;
	font-size: 18px;
}

.badge-itself > .latest-active-part {
	display: flex;
	align-items: center;
    height: 50px;
	padding-left: 80px;
	border: 1px solid red;
}

.badge-itself > .stats-part {
	display: flex;
	flex-direction: row;
    height: 100px;
}

.stats-part > .stats {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	width: 50%;
	padding: 0 40px;
}
