.app-container {
	display: flex;
	justify-content: space-between;
	width: 100%;
	height: 99vh;
	min-height: 600px;
}

.navbar {
	width: 12.5%;
	height: 100%;
}

.body {
	display: flex;
	flex-direction: column;
	width: 75%;
	height: 100%;
}

.body-top {
	display: flex;
	height: 80%;
}

.body-bottom {
	height: 20%;
	border: 1px solid red;
}

.body-top > .content-part {
	width: 50%;
	border: 1px solid red;
}

.body-top > .img-part {
	width: 50%;
	border: 1px solid red;
}

.content-part > .social-content {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 50%;
	border: 1px solid red;
}

.content-part > .badge-content {
	width: 100%;
	height: 50%;
	border: 1px solid red;
}